<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>RepVet - Prédiction de recommandation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../static/css/app.css">
  </head>

  <body class="text-center">

    <div class="app-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto px-5 py-2">
        <div id="mynav" class="inner">
          <h3 class="masthead-brand">RepVet</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Accueil</a>
            <a class="nav-link active" href="recommandation">Recommandation</a>
            <a class="nav-link" href="getRepVetCSV">Télécharger le CSV</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>

      <main id="main" role="main" class="inner app pb-1">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <h2>Prédire la réputation d'un produit</h2>
                <form action = "{{ url_for('predict') }}" method="POST">
                    <textarea class="form-control" id="customer_feedback_textarea" name="customer_feedback" rows="3" placeholder="Commentaire du client"></textarea>
                    <input type="submit" class="btn btn-secondary btn-block mt-1" value="Recommandé ?">
                </form>
              </div>
              <div class="col-md-6">
                <h2>Résultat</h2>
                <p><em>{{ text }}</em></p>
                <p><strong>{{ recommandation }}</strong></p>
                <p>{{ score }}</p>
              </div>
            </div>
      </main>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>